
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
log/
*.log
playwright-report/
/debug
/logs
test-examples/
examples.*
allure-results/